div.item {
border:1px solid silver;
background-color:#ffffff;
width:10px;
height:10px;
text-align:center;
line-height:10px;
font-size:8px;
font-family:sans-serif;
position:absolute;
}
.draggable {
}
#win .x-window-body {
background-color:#f0f0f0 ! important;
position:relative;
}
.dd-proxy {
opacity:0.4;
-moz-opacity:0.4;
filter:alpha(opacity=40);
cursor:default ! important;
}
